.register-screen {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
    padding: 0 5rem;

    h1 {
      font-size: 5rem;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &:before,
    &:after {
      display: none;
    }
  } // end header

  &__error {
    padding: 2rem 5rem;
    border-bottom: 2px solid #DDD;

    h1 {
      font-size: 3rem;
      color: $error;
      padding: 1rem 0;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 300;
      display: flex;
      align-items: center;
      color: #999;
      margin: 0;

      span {
        margin-right: 1rem;
      }
    }

    p {
      color: #555;
      margin: 0 0 .5rem;
    }
  }

  aside {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    
    .section-title {

      h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
  } // end aside

  &__payment {
    width: 65%;

    .form-section {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 2rem;
      margin: 0 -1rem;

      h1 {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 2rem;
        padding: 0 1rem;
      }

      &.installment {
        h1 {
          margin-bottom: 0;
        }
      }
    }

    .input-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.5rem;
      }
    } // end .input-group
  } // end __payment

  &__purchase-details {
    padding-left: 3rem;

    .price {
      font-size: 4rem;
      font-weight: bold;
      color: $primary;

      span {
        font-size: 1.5rem;
      }
    } // end .price

    h2 {
      font-size: 1.5rem;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
      }
    }
  } // end __purchase-details

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding-top: 4rem;

    &.billing-address {
      width: auto;
      padding: 0 1rem;
      
      .btn {
        &:first-child {
          margin-right: 2rem;
        }
      }
    }

    .btn {
      font-size: 1.7rem;
      font-weight: 400;
      padding: 2rem 4rem;
      border: 2px solid;
      border-radius: 50px;

      &:focus {
        outline: none;
      }

      &.btn-outline {
        color: #999;
        border-color: #CCC;
      }

      &.btn-primary {
        background: $primary;
        border: $primary;

        &:active {
          background: darken($primary,5%);
        }
      }

      &.back {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:before {
          content: "";
          width: 0;
          height: 0;
          margin-right: 2rem;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 8px solid #999;
        }
      }
    }
  } // end __buttons

  &__card {
    display: flex;
    width: 100%;
    padding: 2rem 1rem;

    .rccs {
      margin: 0;
    }

    .rccs__name {
      max-height: 50px;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    background: #000;
    padding: 2rem 5rem;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: #FFF;
    }
  } // end footer

  .hidden {
    display: none;
  }

@media (max-width: 960px) {
  &__payment,
  &__buttons {
    width: 100%;
  }

  &__purchase-details {
    padding-top: 3rem;
    padding-left: 0;
  }
} // end max-width: 960px

@media (max-width: 576px) {
  header {
    padding: 0 1rem;

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    h2 {
      font-size: 2rem;
    }
  } // end header

  &__error {
    padding: 2rem 1rem;
  }

  aside {
    padding: 1rem;
  }

  &__buttons {
    flex-wrap: wrap;

    .btn {
      width: 100%;

      &:first-child {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }

    &.billing-address {

      .btn {

        &:first-child {
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
    }
  } // end __buttons

  &__card {
    justify-content: center;
  } // end __card

  footer {
    h1 {
      font-size: 2rem;
    }
  }
} // end max-width: 576px
}