// colors
$primary: #64a80b;


#app {
  flex: 1;
  align-self: center;
  justify-content: center;
  align-content: center;
}

// External stylesheets
@import './../../node_modules/react-credit-cards/lib/styles.scss';

// Containers
@import './../containers/register/RegisterScreen';

// Components
@import './../components/register/RegisterNav';
@import './../components/register/RegisterInput';
@import './../components/register/RegisterSelect';